//Section cuts img div-----------------------------------------------
.bgSabana {
    width: 90%;
    height: 50px;
    margin: 0 auto;
    background-image: url(../img/bg-section-sabana.png);
    background-position: center;
    background-repeat: no-repeat;
}

//--------------------HEADER------------------------------

.headerArea {
    width: 100%;
    height: 100vh;
    background-image: url(https://drive.google.com/uc?export=download&id=1k7WJc09G0KgvLoYLRvIxFHHGdnysbgq_);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .heroContainer {
        //background-color: #000;
        width: 80%;

        .heroContent {
            .heroTittle {
                @include titulos;
                font-size: 70px;
                line-height: 1;
                margin-bottom: 20px;
                text-align: left;
            }

            .heroParagraph {
                font-size: 18px;
                margin-bottom: 20px;
                color: $azul-titulares;

                span {
                    font-weight: bold;
                }
            }

        }
    }
}
.btn {
    width: 180px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    color: $azul-titulares;
    font-weight: bold;
    border-radius: 40px;
    border: none;
    background-color: $amarillo-intenso;
    transition: all ease-in-out 0.2s;
    filter: brightness(1);

    &:hover{
        filter: brightness(1.1);
        box-shadow: 0 0 10px $amarillo-suave;
    }
}

//MEDIA QUERIES HEADER---------------------------------
@media only screen and (max-width: 992px) {
    .headerArea {
        background-image: url(https://drive.google.com/uc?export=download&id=16PMoNooDFt48jl1bpeTINJzr8DnZemRG);
        background-position: right;
        padding-top: 330px;
        padding-bottom: 130px;

        .heroContainer {
            //background-color: #000;
            width: 80%;

            .heroContent {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .heroTittle {
                    text-align: center;
                    font-size: 48px;
                }

                .heroParagraph {
                    text-align: center;
                    font-size: 20px;

                    span {
                        font-weight: bold;
                    }
                }

            }
        }
    }
    .btn {
        width: 120px;
        text-align: center;
    }
}

//--------------------BODY------------------------------
//firs section--------------------
.sectionText {
    margin: 0 auto 40px auto;
    width: 80%;

    .sectionCopete {
        color: $salmon-intenso;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    }

    .title {
        @include titulos
    }

    .sectionDescription {
        @include sectionParrafos
    }
}

.cardsContainer {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/bg-section-1-waves.png);
    background-position: center;
}

.card {
    min-width: 200px;
    max-width: 350px;
    //height: 400px;
    margin-right: 5px;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: all ease-in-out .2s;
    overflow: hidden;
    border-radius: 5px;
    background-color: transparent;
    border: none;

    .icono {
        width: 130px;
        height: 130px;
        padding: 15px;
        margin-bottom: 10px;
        transition: all ease-in-out 0.7s;
    }

    .cardTittle {
        margin-bottom: 10px;
        text-align: center;
        font-size: 15px;
        color: $azul-titulares;
        font-weight: bold;
    }

    .cardParagraph {
        width: 90%;
        text-align: center;
        color: $azul-titulares;
    }

    &::after {
        content: "";
        width: 100%;
        height: 5px;
        background: rgb(50, 57, 128);
        background: linear-gradient(90deg, rgba(50, 57, 128, 1) 0%, rgba(222, 222, 255, 1) 100%);
        position: absolute;
        top: 4px;
        left: -100%;
        border-radius: 10px;
        //transform:translateX(-105%);
        transition: all ease-in-out 0.5s;
    }
}

.card:hover {
    background-color: rgb(255, 255, 255, .5);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.137);

    .icono {
        transform: rotateY(360deg);
    }

    &:after {
        left: 0;
    }
}

//MEDIA QUERIES FIRST SECTION---------------------------
@media only screen and (max-width: 992px) {
    .sectionText {
        width: 90%;

        .sectionCopete {
            font-size: 15px;
        }

        .title {
            font-size: 35px;
        }

        .sectionDescription {
            font-size: 16px;
        }
    }

    .cardsContainer {
        padding: 20px 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card {
        .cardTittle {
            margin-bottom: 10px;
            text-align: center;
            font-size: 15px;
            color: $azul-titulares;
            font-weight: bold;
        }
    }

}

//second section------------------
.profile {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 50%;

    .profileText {
        text-align: center;
        font-weight: bold;
        letter-spacing: 1px;
        margin-top: 25px;
    }

    .profileSocialMedia {
        width: 100%;
        height: 100%;
        background-color: $azul-titulares;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all ease-in-out 0.7s;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            width: 50px;
            height: 50px;
            color: $blanco-fondo;
            margin: 0 35px;
            border: 1px solid $blanco-fondo;
            padding: 10px;
        }

        i {
            text-align: center;
            font-size: 30px;
        }
    }

    &:hover {
        border: 5px solid $celeste-intenso;

        .profileSocialMedia {
            opacity: 0.9;
        }
    }
}

//MEDIA QUERIES SECOND SECTION---------------------------
@media only screen and (max-width: 992px) {
    .profile {
        width: 200px;
        height: 200px;
        margin-bottom: 80px;

        .profileText {
            margin-top: 15px;
        }

        .profileSocialMedia {
            a {
                width: 40px;
                height: 40px;
            }

            i {
                font-size: 20px;
            }
        }


    }

}

//Third section---------------------

.beneficiosContainer {
    width: 90%;
    margin: 0 auto;
    //background-color: $celeste-intenso;
}

.beneficio {
    width: 100%;

    .beneficioBanner {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4rem;
    }

    .beneficioBanner--inverse {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4rem;
        flex-direction: row-reverse;
    }

}

.beneficio1 {
    color: $celeste-intenso;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    z-index: 100;

    &::before {
        content: "01";
        position: absolute;
        font-size: 116px;
        font-family: "Nunito", sans-serif;
        top: -44px;
        left: 101px;
        color: rgba(0, 0, 0, 0.178);
        z-index: 10;
    }
}

.beneficio2 {
    color: $salmon-intenso;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    z-index: 100;

    &::before {
        content: "02";
        position: absolute;
        font-size: 116px;
        font-family: "Nunito", sans-serif;
        top: -44px;
        left: 101px;
        color: rgba(0, 0, 0, 0.089);
        z-index: 10;
    }
}

.beneficio3 {
    color: $amarillo-intenso;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    z-index: 100;

    &::before {
        content: "03";
        position: absolute;
        font-size: 116px;
        font-family: "Nunito", sans-serif;
        top: -44px;
        left: 101px;
        color: rgba(0, 0, 0, 0.089);
        z-index: 10;
    }
}

h3 {
    margin: 0;
    padding: 0;
    @include titulos;
    text-align: left;
}

span {
    font-weight: bolder;
}

//MEDIA QUERIES THIRD SECTION---------------------------
@media only screen and (max-width: 992px) {
    .beneficio {
        .beneficioBanner {
            flex-direction: column;
        }
    
        .beneficioBanner--inverse {
            flex-direction: column;
        }
    
    }

    .beneficio1 {
        color: $celeste-intenso;
        font-size: 20px;
        font-weight: bold;
        position: relative;
        z-index: 100;
    }
    
    .beneficio2 {
        color: $salmon-intenso;
        font-size: 20px;
        font-weight: bold;
        position: relative;
        z-index: 100;
    }
    
    .beneficio3 {
        color: $amarillo-intenso;
        font-size: 20px;
        font-weight: bold;
        position: relative;
        z-index: 100;
    }

    h3 {
        font-size: 30px;
    }

    span {
        font-weight: bolder;
    }

}

//Fifth section---------------------

.clientesCardsContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.clientesCard{
    background-color: $salmon-suave;
    max-width: 480px;
    height: 250px;
    border-radius: 10px;
    margin-right: 15px;
    margin-bottom: 25px;
    overflow: hidden;
    display: flex;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.336);

    .clientesCardImg{
        //background-color: red;
        width: calc(100% - 60%);
    }
    
    .clientesCardText{
        //background-color: grey;
        width: calc(100% - 40%);
        padding: 30px 25px;

        p, h4{
            text-align: left;
            margin-bottom: 20px;
            color: $azul-titulares;
        }

        .familyComent{
            font-size: 15px;
        }

        .familySurname{
            font-size: 30px;
            font-weight: bold;
            font-family: $nunito;
        }
    }
}

.clientesCard::after{
    position: absolute;
    right: 15px;
    bottom: 0px;
    font-family: font;
    content: '♥';
    color: rgba(255, 255, 255, 0.425);
    font-size: 40px;
}

.clientesCard:nth-child(2){
    background-color: $amarillo-suave;
}

.clientesCard:nth-child(3){
    background-color: $celeste-suave;
}

@media only screen and (max-width: 500px){
    .clientesCard{
        min-height: 250px;
        background-color: $salmon-suave;
        height: 515px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    
        .clientesCardImg{
            //background-color: red;
            height: calc(100% - 40%);
            width: 100%;
            img{
                object-fit: cover;
                object-position: center top;
            }
        }
        
        .clientesCardText{
            //background-color: grey;
            height: calc(100% - 60%);
            width: 100%;
            padding: 15px 25px;

            p, h4{
                text-align: left;
                margin-bottom: 20px;
                color: $azul-titulares;
            }
    
            .familyComent{
                font-size: 15px;
            }
    
            .familySurname{
                font-size: 20px;
                font-weight: bold;
                font-family: $nunito;
            }
        }
    }
}

//Sixth section---------------------
.suscripciones{
    width: 100%;
    max-width: 100%;
    //height: 70vh;
    background: $celeste-suave;
    //overflow: hidden;

    .tittleModifier{
        color: $azul-titulares;
    }
}

.planesContainer{
    width: 90%;
    margin: 0 auto 3rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.planCard{
    width: 280px;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $blanco-fondo;
    border-radius: 20px 5px 20px 5px;
    padding: 30px 25px;
    font-family: $nunito;
    box-shadow: 0 0 3px $blanco-fondo;
    position: relative;
    overflow: hidden;

    h4{
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 35px;
        color: $azul-titulares;
        text-align: center;
        transition: color ease-in-out 0.3s;
    }

    p{
        margin-bottom: 10px;
        text-align: center;
        font-size: 16px;
        color: $azul-titulares;
    }

    p:nth-child(4){
        span{
            font-weight: 800;
            display: block;
            font-size: 18px;
        }
    }

    p:nth-child(5){
        font-weight: bold;
        font-size: 35px;
    }

    .planImg{
        margin: 10px 0;
        padding: 10px;

        img{
            transition: all ease-in-out 0.3s;
        }
    }

    h4, p, .planImg, button{
        z-index: 100;
    }

}

.planCard::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100px;
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(66, 66, 66, 0.328) 0%, rgba(254,254,254,0) 38%);
}

.planCard:nth-child(1):hover{
    h4{
        color: $celeste-intenso;
    }
    .planImg{
        img{
            transform: scale(1.2);
        }
    }
}
.planCard:nth-child(2):hover{
    h4{
        color: $salmon-intenso;
    }
    .planImg{
        img{
            transform: scale(1.2);
        }
    }
}
.planCard:nth-child(3):hover{
    h4{
        color: $amarillo-intenso;
    }
    .planImg{
        img{
            transform: scale(1.2);
        }
    }
}

//eight section---------------------

.formContainer{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .formContent{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        label, input, textarea{
            border-radius: 10px;
            padding: 10px 10px;
            margin-bottom: 20px;
            margin-right: 10px;
            border: none;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.11);
        }
        
        label{
            background-color: $azul-titulares;
            color: $blanco-fondo;
            font-size: 15px;
        }
    }


    .textAreaContainer{
        width: 100%;
        textarea{
            width: 100%;
            height: 150px;
            border-radius: 15px;
            padding: 15px;
            border: none;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.11);
        }
    }

}

@media only screen and (max-width: 866px){
    .formContainer{
   
        .formContent{
           flex-direction: column;
           text-align: center;
            
            label, input{
                width: 100%;
                border-radius: 15px;
                padding: 10px 10px;
                margin-bottom: 20px;
                margin-right: 10px;
                border: none;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.11);
            }
            
            label{
                background-color: $azul-titulares;
                color: $blanco-fondo;
                font-size: 15px;
            }
        }

    }
}

//FOOTER SECTION---------------------
.footerContainer{
    background-color: $azul-titulares;
    color: $blanco-fondo;
    width: 100%;
    margin: 0;
    padding: 1rem;
}

.footerContent{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;

    .footerInfo{
        width: 20%;
        min-width: 150px;
        text-align: left;
        font-size: 12px;
        margin: 20px 0;

        h5{
            font-size: 18px;
        }

        p{
            text-align: justify;
        }

        ul{
            padding-left: 15px;
        }
    }

    .footerIconContainer{
        display: flex;
        justify-content: flex-start;

        i{
            margin-right: 20px;
            font-size: 20px;
            transition: all ease-in-out 0.3s;

            &:hover{
                text-shadow: 0px 0px 15px $blanco-fondo;
            }
        }
    }
}

@media only screen and (max-width: 450px){

    .footerContent{
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        justify-content: center;
       
    
        .footerInfo{
            width: 100%;
            min-width: 150px;
            text-align: left;
            font-size: 12px;
            margin-bottom: 35px;
    
            h5{
                font-size: 18px;
            }
    
            p{
                text-align: justify;
            }
    
            ul{
                padding-left: 15px;
            }
        }
    
        .footerIconContainer{
            display: flex;
            justify-content: flex-start;
    
            i{
                margin-right: 20px;
                font-size: 20px;
                transition: all ease-in-out 0.3s;
    
                &:hover{
                    text-shadow: 0px 0px 15px $blanco-fondo;
                }
            }
        }
    }

}

@media only screen and (min-width: 450px) and (max-width: 968px){

    .footerContent{
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        justify-content: space-between;
       
    
        .footerInfo{
            width: 30%;
            min-width: 150px;
            text-align: left;
            font-size: 12px;
            margin-bottom: 35px;
            margin-right: 25px;
    
            h5{
                font-size: 18px;
            }
    
            p{
                text-align: justify;
            }
    
            ul{
                padding-left: 15px;
            }
        }
    
        .footerIconContainer{
            display: flex;
            justify-content: flex-start;
    
            i{
                margin-right: 20px;
                font-size: 20px;
                transition: all ease-in-out 0.3s;
    
                &:hover{
                    text-shadow: 0px 0px 15px $blanco-fondo;
                }
            }
        }
    }

}